.text-style {
  font-family: "Montserrat regular";
  font-size: 1rem;
}

.border {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.input-icons i {
  position: absolute;
}

.mat-checkbox-label{
  white-space: pre-wrap;
}
.button {
  height: 44px;
  width: 100%;
  border-radius: 25px;
  color: #e5e5e5
}

