.input-icons i {
  position: absolute;
}

/* Set top-lef and bottom-left corner radius */
:host ::ng-deep .mat-form-field-outline-start {
  border-radius: 15px 0 0 15px !important;
}

/* Set top-right and bottom-right corner radius */
:host ::ng-deep .mat-form-field-outline-end {
  border-radius: 0 15px 15px 0 !important;
}


h5 {
  border-bottom: 1px solid #87767638;
  line-height:0.1em;
  margin:10px 50px 20px;
}

h5 span {
  background:#fff;
  padding:0 10px;
}

.i-external-login {
  font-size: 2rem;
}

.login-btn {
  height: 44px;
  width: 100%;
  border-radius: 25px;
  color: #e5e5e5
}


@media screen and (min-width: 768px) {
  .container {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width:1025px) {
  .container {
    margin-top: 20px;
    width: 50%;
  }
}


@media screen and (min-width: 1281px) {
  .container {
    margin-top: 20px;
    width: 60%;
  }
}
