.text-style {
  font-family: "Montserrat regular";
  font-size: 1.2rem;
}

.border {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.input-icons i {
  position: absolute;
}

