

<ngx-spinner type="ball-spin-fade"><p style="color: white" > {{message}}... </p></ngx-spinner>
<div class="container mt-5 display-container" style="
border: 1px solid #ffffff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 25px 10px;
max-width: 500px;
">
  <div class="d-flex flex-column align-items-center justify-content-center"
       style="margin-top: 20px;">
    <img src="assets/images/temp-logo.png" style="height: 100px; width: 100px;">
    <div class="d-flex flex-row my-4">
      <div class="col-12 justify-content-center align-items-center text-center" style="margin-top: 15px;">
          <span class="font-middle-size primary-color">
            Reset Password
          </span>
      </div>
    </div>
  </div>


  <form [formGroup]="resetForm" class="px-3">


    <div class="row justify-content-center align-items-center">
      <div class="col-12 my-3" *ngIf="registerError">
        <mat-error class="text-center">{{recoverError}}</mat-error>
      </div>
      <div class="col text-center">
        <mat-form-field appearance="outline" class="m-0 w-100 input-styles">
          <mat-label style="margin-left: 12px;">Email Address</mat-label>
          <input type="email" style="padding-left: 12px;"
                 formControlName="email" matInput
                 >
        </mat-form-field>
      </div>
    </div>


    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="col mt-1 text-center">
        <mat-form-field appearance="outline" class="m-0 w-100 input-styles">
          <mat-label style="margin-left: 12px;">Password</mat-label>
          <input type="password" style="padding-left: 12px;"
                 class="input-styles" formControlName="password"
                 matInput>
        </mat-form-field>
      </div>
    </div>


    <mat-error class="text-left"
    *ngIf="resetForm.errors?.passwordNoMatch &&
    resetForm.controls['password'].touched &&
    resetForm.controls['c_password'].valid"
    >Password do not match!</mat-error>

    <div class="d-flex flex-row justify-content-center align-items-center">

      <div class="col mt-1 text-center">
        <mat-form-field appearance="outline" class="m-0 w-100 input-styles">
          <mat-label style="margin-left: 12px;">Repeat Password</mat-label>
          <input type="password" style="padding-left: 12px;"
                 class="input-styles" formControlName="c_password"
                 matInput>
        </mat-form-field>


      </div>
    </div>



    <div class="d-flex flex-row justify-content-center align-items-center mt-3">
      <div class="col mt-1 text-center">
        <button (click)="resetPassword()"
        [disabled]="!resetForm.valid"
                class="primary-color button-style button"
                mat-raised-button>
          Reset Password
        </button>
      </div>
    </div>
  </form>


</div>











<!-- <div class="container mt-5" style="
border: 1px solid #ffffff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding: 25px 10px;
    max-width: 500px;
border-radius: 15px;">
  <div class="d-flex flex-column align-items-center justify-content-center"
       style="margin-top: 20px;">
    <img src="assets/images/temp-logo.png" style="height: 100px; width: 100px;">
    <div class="d-flex flex-row">
      <div class="col-12 justify-content-center align-items-center text-center" style="margin-top: 15px;">
          <span class="font-family font-middle-size primary-color" *ngIf="!codeIsValid">
             Enter the code sent to your email address.
          </span>
        <span class="font-family font-middle-size primary-color" *ngIf="codeIsValid">
            Set your new password.
          </span>
      </div>
    </div>
  </div>

  <form [formGroup]="codeForm" class="px-3" *ngIf="!codeIsValid">

    <div class="d-flex flex-row justify-content-center
    align-items-center">
      <div class="col mt-3 text-center">
        <mat-form-field hideRequiredMarker appearance="outline" class="m-0 w-100 input-styles">
          <mat-label style="margin-left: 12px;">Code</mat-label>
          <input type="text" style="padding-left: 12px;"
                 formControlName="code" matInput
                 placeholder="enter code...">
        </mat-form-field>
      </div>
    </div>


    <div class="d-flex flex-row justify-content-between">
      <div class="col mt-1 text-end">
        <button (click)="checkCode()" [disabled]="!codeForm.valid"
                class="button primary-color button-style"
                mat-raised-button>
          Check code
        </button>
      </div>
    </div>
  </form>


  <form [formGroup]="setPasswordForm" class="px-3" *ngIf="codeIsValid">

    <div class="d-flex flex-row justify-content-center
    align-items-center">
      <div class="col mt-3 text-center">
        <mat-form-field hideRequiredMarker appearance="outline" class="m-0 w-100 input-styles">
          <mat-label style="margin-left: 12px;">New Password</mat-label>
          <input type="email" style="padding-left: 12px;" required
                 formControlName="password" matInput
                 placeholder="enter new password...">
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div class="col mt-1 text-end">
        <button (click)="resetPassword()" [disabled]="!setPasswordForm.valid"
                class="button primary-color button-style"
                mat-raised-button>
          Reset password
        </button>
      </div>
    </div>
  </form>

</div>
 -->
