<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand nav-link" [routerLink]="['/home']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Account-Owner Home</a>
          <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNav" [collapse]="!isCollapsed" [isAnimated]="true">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Owner Actions</a>
              <!-- <a class="nav-link" href="#"> </a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#">Account Actions </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/calculator']" href="#">Calculator </a>
            </li>

            <div *ngIf="isUserAuthenticated()" style="color:blue;">
              <h2>
                YOU ARE LOGGED IN
              </h2>
            </div>
            <li *ngIf="!isUserAuthenticated()"><a routerLink="auth/login">Login</a></li>
            <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
