
  <app-header></app-header>
  <main>

    <div class="display-area">

      <div style="max-width: 1000px;margin: auto;
      margin-top: 50px;">

        <div class="row">

          <div class="col-3">
            <mat-selection-list  [(ngModel)]="selectedOption" #shoes [multiple]="false" (ngModelChange)="selectValue($event)" >
              <mat-list-option  *ngFor="let shoe of typesOfShoes" [value]="shoe">
                {{shoe}}
              </mat-list-option>
            </mat-selection-list>

          </div>

          <div class="col-9" style="background-color: white;border-radius: 20px;" [ngStyle]="loading ? {'min-height': '650px'}:{}">

            <mat-spinner *ngIf="loading == true; else componentSelected" class="center" style="margin: auto;
            margin-top: 275px;"></mat-spinner>

           <ng-container #componentSelected>

            <div *ngIf="selectedOption == 'Account Info'">
              <app-profile   (loadingEvent)="loadingChanged($event)"></app-profile>
            </div>

            <app-payment *ngIf="selectedOption == 'Payment Method'" [action]="action"
            (actionEvent)="actionChanged($event)"
            (loadingEvent)="loadingChanged($event)"></app-payment>

            <app-payment-history  *ngIf="selectedOption == 'Payment History'"  (loadingEvent)="loadingChanged($event)"></app-payment-history>

            <app-subscription (actionEvent)="actionChanged($event)" *ngIf="selectedOption == 'Subscription'" (loadingEvent)="loadingChanged($event)"></app-subscription>

           </ng-container>



          </div>
        </div>

      </div>





      <router-outlet></router-outlet>

    </div>
  </main>
