<div class="row">
  <a [routerLink]="['/owner/create']">New Car</a>
</div> <br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vin</th>
            <th>Lote Number</th>
            <th>Aution Date</th>
            <th>Max Bid</th>
            <th>Market Value</th>
            <th>Investment</th>
            <th>Earnings</th>
            <th>Title</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let calculation of calculators" id="calculation.calculatorId">
            <td>{{calculation.vin}}</td>
            <td>{{calculation.loteNumber}}</td>
            <td>{{calculation.autionDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{calculation.maxAmountToOffer}}</td>
            <td>{{calculation.marketValueFinal}}</td>
            <td>{{getCalculation(calculation,'investment')}}</td>
            <td>{{calculation.earningsAmount}}</td>
            <td>{{calculation.titleType}}</td>

            <td><button type="button" id="details" class="btn btn-primary"
              (click)="openLink(calculation.link,true)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success"
                (click)="redirectToUpdatePage(calculation)">Update</button></td>
                <td><button type="button" id="delete" class="btn btn-danger"
                  (click)="showModalToDelete(calculation)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
