<div class="row">
  <a [routerLink]="['/owner/create']">New Car</a>
</div> <br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vin</th>
            <th>Lote Number</th>
            <th>Aution Date</th>
            <th>Year</th>
            <th>Car Name</th>
            <th>Spences</th>
            <th>Earnings</th>
            <th>Link</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let calculation of calculators" id="calculation.calculatorId">
            <td>{{calculation.vin}}</td>
            <td>{{calculation.loteNumber}}</td>
            <td>{{calculation.autionDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{calculation.year}}</td>
            <td>{{calculation.carName}}</td>
            <td>{{getSpences(calculation)}}</td>
            <td>{{calculation.earningsAmount}}</td>
            <td>{{calculation.link}}</td>
            <td><button type="button" id="details" class="btn btn-primary"
              (click)="getCarculationDetails(calculation)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success"
                (click)="redirectToUpdatePage(calculation)">Update</button></td>
                <td><button type="button" id="delete" class="btn btn-danger"
                  (click)="showModalToDelete(calculation)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
