.labelInformation{
  font-size: 14px !important;
  font-weight: 700;
    opacity: 0.5;
}
.carDescription{
  font-size: 36px;
  font-weight: 700;
  opacity: 0.6;
  margin: revert;
  margin-left: 20px;
}
.input-group{
  height: 50px;
}

.button-input-group{
  height: 50px;
  width: 50px;

}
.form-label{
    color: #3F4254;
    font-weight: 500;
    font-size: 1.075rem;
    margin-left: 10px;
}
input.form-control{
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  border: 1px solid #e4e6ef;
  color: #5e6278;
  transition: color 0.2s ease;
  box-shadow: none !important;
  font-size: 1.15rem;
  border-radius: 0.625rem;
}
select.form-select{
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  border: 1px solid #e4e6ef;
  color: #5e6278;
  transition: color 0.2s ease;
  box-shadow: none !important;
  font-size: 1.15rem;
  border-radius: 0.625rem;
}

.box-max-amount-to-offer{
  background-color: #f5f8fa;
    border-radius: 10px;
    height: 100px;
}
.box-text-title{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
.box-text-amount{
  font-size: 50px;
    font-weight: 600;
    color: #17c517;
    text-align: center;
}
