<div class="container">

   <div class="row">
     <div class="col-12">
      <h3>Subscriptions</h3>


      <mat-tab-group>
        <mat-tab label="My subscribers">

          <div class="">
            <app-mysubscription></app-mysubscription>
          </div>

          <mat-tab-group>
            <mat-tab>
               <ng-template mat-tab-label>
                <span (click)="showStatus =''">All</span>
              </ng-template>
              <app-mysubscribers *ngIf="showStatus == ''" status=""></app-mysubscribers>
              <!-- <app-mysubscribers  ></app-mysubscribers>             -->
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="showStatus ='Active'">Active</span>
              </ng-template>
              <app-mysubscribers *ngIf="showStatus == 'Active'" status="Active"></app-mysubscribers>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="showStatus ='Expired'">Expired</span>
              </ng-template>
              <app-mysubscribers *ngIf="showStatus == 'Expired'" status="Expired"></app-mysubscribers>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span (click)="showStatus ='Blocked'">Blocked</span>
              </ng-template>
              <app-mysubscribers *ngIf="showStatus == 'Blocked'" status="Blocked"></app-mysubscribers>
            </mat-tab>
          </mat-tab-group>

        </mat-tab>
        <mat-tab label="I am Subscribed">

          <mat-tab-group>
            <mat-tab label="Models"> Models </mat-tab>

          </mat-tab-group>

        </mat-tab>

      </mat-tab-group>


     </div>

   </div>



</div>

