/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
  font-family: "Montserrat regular";
  src: local("montserrat-regular"), url('assets/font/montserrat-regular.ttf') format("truetype");
}

@font-face {
  font-family: "Montserrat bold";
  src: local("montserrat-bold"), url('assets/font/montserrat-bold.ttf') format("truetype");
}


.ng-valid.ng-touched:not(form):not(#loginForm) {
  border-bottom: 2px solid #42A948; /* green */
}

.ng-invalid.ng-touched:not(form):not(#loginForm) {
  border-bottom: 2px solid #a94442 !important; /* red */
}

