<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="flex-row text-center mt-2">
    <img src="../../../assets/images/fitableme-f.png" width="90px" height="90px">
    <span class="text-style" style="display: block;">Fitableme User</span>
    <span class="text-style" style="display: block;">(305) - 111 - 1111</span>
    <span class="text-style" style="display: block;">ftablemeuser@fitablemeuser.com</span>
  </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center mt-1 w-100">
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-pencil"></i>
      Editar Perfil
    </button>
  </div>
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-bell"></i>
      Notificaciones
    </button>
  </div>
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-paypal"></i>
      Pagos
    </button>
  </div>
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-translate"></i>
      Idioma
    </button>
  </div>
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-info-circle"></i>
      Ayuda
    </button>
  </div>
  <div class="row mt-3" style="width: 400px;">
    <button type="button" class="btn btn-lg btn-primary border">
      <i class="bi bi-box-arrow-right"></i>
      Salir
    </button>
  </div>
</div>

